@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #192F43;
    --cor2: #6A98C3;
    --cor3: #17446E;
    --cor4: #A8CCED;
    --cor5: #E0F0FF;
    --cor6: #C1E1FF;
}

body {
    font-family: sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    font-size: 1.3em;
}

main div#container{
    width: 490px;
    margin: auto;
}

main ul#selecao {
    list-style-type: none;
    font-size: .9em;
}

main img#circ {
    width: 275px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

main h2 {
    font-size: 1.9em;
    text-align: center;
    padding: 20px;
}

main h3 {
    font-size: 1.2em;
    text-decoration: underline;
}

main h3#primeiroT {
    background-color: lightgray;
    padding: 10px;
    margin: -20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main h3#segundoT {
    background-color: lightgray;
    padding: 10px;
    margin: -20px;
    margin-top: 30px;
}

main p {
    margin-top: 15px;
    line-height: 2.2em;
    text-align: justify;
    text-indent: 1.5em;
}

main p#fim {
    margin-top: 35px;
}

main iframe {
    display: block;
    margin: auto;
    width: 420px;
    height: 235px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    width: 97vw;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    transition: 0.5s;
}