@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: sans-serif;
}

header {
    background-color: white;
}

header h1 {
    padding: 20px 20px 0px 20px;
    text-align: center;
    font-size: 1.7em;
    color: #003f9c;
}

header p {
    padding: 20px;
    text-align: center;
    font-size: .9em;
    color: #000000;
    line-height: 1.8em;
}

header span {
    font-size: .8em;
}

nav {
    background-color: #0046AD;
}

span.material-symbols-outlined {
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

nav ul {
    text-align: center;
    list-style-type: none;
    display: none;
}

nav li {
    padding: 10px;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

main {
    width: 350px;
    margin: auto;
}

main img#foto {
    width: 200px;
    padding: 50px 10px 20px 10px;
    display: block;
    margin: auto;
}

main h2 {
    padding: 20px;
    color: #003f9c;
}

main p {
    text-align: justify;
    text-indent: 30px;
    font-size: .8em;
    line-height: 2em;
}

main ul {
    list-style-type: none;
    padding-left: 20px;
}

main a {
    text-decoration: none;
    color: black;
}

main a:hover {
    text-decoration: underline;
}

footer {
    background-color: #0046AD;
    text-align: center;
    padding: 6px;
    margin-top: 40px;
}

footer p {
    line-height: 1.7em;
    color: white;
    font-size: .8em;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}